<div class="carga" *ngIf="_albumService.loading">
  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  <span class="sr-only">Loading...</span>
</div>

<div class="row">
    <article class="col-sm-6 mx-auto mt-3">
      <div class="card" *ngIf="album">
        <img *ngIf="album.portada" class="card-img-top" [src]="_albumService.url +'/show-cover/'+ album.portada" alt="Card image cap">
        <img *ngIf="!album.portada" src="http://placehold.it/300x250" class="card-img-top" alt="">
        <div class="card-body">
          <h2>{{album.titulo  | touppercase}}</h2>
          <p>{{album.descripcion}}</p>
          <p>{{album.fecha | date:'dd  MMM  y'}}</p>
        </div>
      </div>
    </article>
  </div>
