<div class="carga" *ngIf="_albumService.loading">
  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  <span class="sr-only">Loading...</span>
</div>


<div class="row" *ngIf="album">
  <article class="col-sm-6 mx-auto">
    <h2 class="text-center">{{title}}</h2>

    <form novalidate #forma = "ngForm">
      <div class="form-group">
          <input type="text"
                        class="form-control"
                        placeholder="Titulo del Albúm"
                        name ="titulo"
                        #titulo = "ngModel"
                        [(ngModel)]="album.titulo"
                        required>
              <div *ngIf="titulo.touched  && !titulo.valid then requerido" class="top">
              </div>

      </div>

      <div class="form-group">
          <input type="date"
                        class="form-control"
                        placeholder="Fecha del Albúm"
                        name ="fecha"
                        #fecha = "ngModel"
                        [(ngModel)]="album.fecha"
                        required>

            <div *ngIf="fecha.touched  && !fecha.valid then requerido" class="top">
              </div>
      </div>

      <div class="form-group">
        <textarea name="descripcion"
                            rows="10"
                            class="form-control"
                            #descripcion = "ngModel"
                            [(ngModel)]="album.descripcion"
                            required></textarea>
        <div *ngIf="descripcion.touched  && !descripcion.valid then requerido" class="top">
        </div>
      </div>

      <!-- Archivo -->
      <div class="form-group">
        <img *ngIf="album.portada && !preview"
                    [src]="_albumService.url + '/show-cover/' + album.portada"
                    alt=""
                    class="img-fluid">

        <img src="" alt="" class="img-fluid" id="preview"
          >
          <!-- [ngClass]="{'mostar': '!album.portada', 'ocultar': 'album.portada'}" -->
        <label for="archivo" class="mt-4">Portada</label>
        <input type="file" id="archivo" (change)="getPortada($event)">
      </div>

      <div class="alert alert-danger" *ngIf="_albumService.errMsj">
        {{_albumService.errMsj}}
      </div>

      <button type="submit"
                      class="btn btn-outline-primary"
                      (click)="onSubmit()"
                      [disabled]="!album.titulo || !album.fecha || !album.descripcion">{{title}}
      </button>

    </form>

  </article>
</div>

<!-- <pre>
  {{album | json}}
</pre> -->
<ng-template  #requerido>
    <div class="alert alert-danger mt-2" role="alert">
        Este campo es requerido
    </div>
</ng-template>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4 class="text-center text-info">Album actualizado correctamente</h4>
        <br><br>
      </div>
    </div>
  </div>
</div>
