.carga{
  width: 150px;
  height: 150px;
  margin: 0 auto;
  top: 30vh;
  position: relative;
  z-index: 9999;
}

.card-body{
  position: relative;
}

.mostrar{
  display: block;
}

.ocultar {
  display: none;
}
