<div class="carga" *ngIf="_albumService.loading">
  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  <span class="sr-only">Loading...</span>
</div>

<div class="row">
  <article class="col-sm-4 mt-3" *ngFor="let album of albums">
    <div class="card">
      <img *ngIf="album.portada" class="card-img-top" [src]="_albumService.url +'/show-cover/'+ album.portada" alt="Card image cap">
      <img *ngIf="!album.portada" src="http://placehold.it/300x250" class="card-img-top" alt="">
      <div class="card-body">
        <h2>{{album.titulo | touppercase}}</h2>
        <p>{{album.descripcion | slice:0:70}}</p>
        <p>{{album.fecha  | date:'dd  MMM  y'}}</p>
        <a [routerLink]="['/album', album._id]" class="btn btn-secondary"><i class="fa fa-search"></i></a>
        <a [routerLink]="['/edit-album', album._id]" class="btn btn-primary"><i class="fa fa-pencil"></i></a>

        <div class="confirmar" *ngIf="mostrar == album._id">
          <button  (click)="onCancelConfirm()"
                            class="btn btn-info" >
              <i class="fa fa-ban"></i>
          </button>
          <button (click)="borrarAlbum(album._id)"
                    class="btn btn-danger">
                    <i class="fa fa-trash"></i>
          </button>
        </div>

        <button (click)="mostrarConfirm(album._id)"
                       class="btn btn-danger">
                       <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
  </article>
</div>
